*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
  }
  
  li {
    text-align: -webkit-match-parent;
}

nav {
    display: flex;
    height: 197px;
    width: 234%;
    margin: auto;
    padding: 9px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    }
     nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
     }
    
     nav ul li a{
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
     }
    
     nav ul li a:hover{
        color: red;
     }
  body{
    min-height: 100vh;
    display: flex;
    color: rgb(252, 252, 252);
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/2660262/pexels-photo-2660262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  h2 {
    width: 100%;
    margin-bottom: 37px;
    text-transform: uppercase;
    color: rgb(30, 231, 235);
    font-size: 20px;
}
  h1 {
    width: 100%;
    margin-bottom: 28px;
    display: list-item;
    color: rgb(255 254 254);
    font-size: 30px;
}

p {
    margin-top: 0;
    font-family: emoji;
    margin-bottom: 1rem;
    color: whitesmoke;
   }

   @media screen and (min-width: 600px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
      display: block;
      padding-bottom: 50px;
    }
  }

  
